.App {
    width: 100%;
    min-height: 100vh;
    background-color: #b8bfba;
}

.NavLink a {
    text-decoration: none;
}

.ListItem {
    width: 60%;
    padding: 1rem;
    background-color: white;


}