.App {
    width: 100%;
    min-height: 100vh;
    background-color: #b8bfba;
}

.NavLink a {
    text-decoration: none;
}

.ListItem {
    width: 60%;
    padding: 1rem;
    background-color: white;
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: space-between;


}

.AddItem {
    background-color: #b8bfba;
    transition-duration: 1s;
}

.AddItem:hover {
    background-color: #a0a7a2;
    transition-duration: 1s;
}

